.wrapper {
  padding: 2rem;
}
.img-container {
  max-width: 40rem;
  max-height: 40rem;
}
.img-container img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.dish-title {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.dish-title:hover {
  color: orangered;
}
